









<% include common/cart.ejs %>
<body>
  <img id='cartIcon' src="cart.png">
  <header class="headerMarketingUa">
    <div class="headerBody">
        <img class="logoImage" src="C:\Users\senat\Desktop\html\PODARUNOCHKI\logo.jpeg">
    <nav>
      <ul class="navBarClass">
        
        <li class="navLi"><a href="">головна сторінка</a></li>
        <li class="navLi"><a href="">готові бокси</a></li>
        <li class="navLi"><a href="">доставка і оплата</a></li>
        <li class="navLi"><a href="">відгуки</a></li>
        <li class="navLi"><a href="">контакти</a></li>
        <li class="navLi"><button class="createBoxButton" href="">CТВОРИТИ БОКС</button></li>        
      </ul>
    </nav>
    </div>
  </header>

  
  <div id='body'>

  <div class="LetMarketingGrowYourBusiness">
    <div class="LOGO">
      <h2 class="logo"> СТВОРИ СВІЙ ІДЕАЛЬНИЙ </h2>
      <h2 class="logo"> ПОДАРУНКОВИЙ БОКС </h2>    
      <br>     
    </div>
  </div>



  <main>
    <section class="ourStory">
      <table width="93%" cellpadding="" class="ourStory">
        <tr>
          <td class="picStory"></td>
          <td class="ourStoryText">
            <h2 class="OURSTORY">Трішки про нас</h2>
            <p class="textStory">Цей сайт створений для того, щоб підібрати ідеальний бокс-подарунок або створити свій унікальний. Завдяки цьому сервісу ви економите свій час, адже багато деталей, що можна додати до подарунку знаходяться в одному місці.</p>
            <form>
              <button class="GetInTouch">пора творити</button>
            </form>
          </td>
        </tr>
      </table>
      
    </section>
    <section class="completeBox">
      <h2>ГОТОВІ ПОДАРУНКИ</h2>
    </section>

    <div class="boxSections">
        <div id="birthday">До дня народження</div>
        <div id="easter">До Пасхи</div>
        <div id="newYear">До Нового року</div>
        <div id="8march">До 8-го березня</div>          
        <div id="sweets">Смаколики</div>          
    </div>
    

  </main>
  <div id="map"></div>
<script src="map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-lYV63ujVUrRplyaotlzz5p83_O-R7vg&callback=initMap&libraries=&v=weekly"
    async
></script>
  </div>
</body>



<!-- Bootsrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


  
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="design.css">
<link rel="stylesheet/less" type="text/css" href="design.less">

<!--Own JavaScript -->
<script type="text/javascript"  src="cart.js"> </script>

